<!DOCTYPE html>
<html ng-app="qaGeneratorApp">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QA Form Generator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="../css/normalize.css">-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body ng-controller="mainCtrl">
	<div id="main-wrapper" class="container" ui-view></div>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/docxtemplater/vendor/base64.js"></script>
	<script src="../js/docxtemplater/vendor/jszip2.0/dist/jszip.min.js"></script>
	<script src="../js/docxtemplater/js/docxgen.js"></script>
	<script src="../js/underscore/underscore.js"></script>
	<script src="../js/angular/lib/angular.js"></script>
	<script src="../js/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="../js/angular-resource/angular-resource.min.js"></script>
	<script src="../js/main.js"></script>
</body>
</html>